.sf-menu{text-transform:uppercase;font-size:0;line-height:0;float:left;}
.sf-menu ul{position:absolute;top:-999px;min-width:168px;background:#f7f7f7;left:0px;padding:14px 1px 15px;display:none;}
.sf-menu ul>span{background:url(http://static.livedemo00.template-help.com/wt_37621/images/submenu.png);width:15px;height:9px;position:absolute;top:-9px;left:15px;}
.sf-menu li{position:relative;}
.sf-menu>li{float:left;}
.sf-menu a{color:#444343;text-decoration:none;display:block;line-height:1.2em;font-size:10px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.sf-menu>li>a{color:#c0c0c0;border-right:1px dotted #e6e6e6;width:133px;text-align:center;padding:19px 0;}
.sf-menu>li>a>span{color:#373737;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.sf-menu li:hover>ul,.sf-menu li.sfHover>ul{top:50px;z-index:99;}
.sf-menu>li:hover>a,.sf-menu>li.sfHover>a{background:#34beff;color:#fff;}
.sf-menu>li:hover>a>span,.sf-menu>li.sfHover>a>span{color:#fff;}
.sf-menu>li.current>a{background:#f7f7f7;color:#c0c0c0;}
.sf-menu>li.current>a>span{color:#373737;}
.sf-menu li li>a{padding:14px 28px;color:#000100;white-space:nowrap;}
.sf-menu li li.current>a,.sf-menu li li>a:hover,.sf-menu li li.sfHover>a{background:#fff;}
.sf-menu li li:hover>ul,ul.sf-menu li li.sfHover>ul{left:100%;top:-14px;margin-left:2px;}