@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  src: local('Arapey Regular'), local('Arapey-Regular'), url('http://themes.googleusercontent.com/static/fonts/arapey/v2/hTZBMDBEmuM7E6AJpWkyGA.woff') format('woff');
}
